.game {
   background: linear-gradient(0deg, rgb(0 140 173 / 76%)45%, rgb(125 216 237 / 48%)100%);
   height: 100vh;
   width: 100%;
}
.game h1 {
   font-size: 2.5em;
}
.points span {
   font-weight: bold;
}
.tip span {
   color: #ecfa00;
}
.wordContainer {
   border: 20px solid #ecfa00;
   display: flex;
   justify-content: center;
   margin: 1.5em;
   padding: 1.5em;
}
.letter, .blankSquare {
   background-color: #75c2eb;
   border: 3px solid #000;
   color: #000;
   font-size: 70px;
   font-weight: bold;
   height: 100px;
   line-height: 1.5;
   text-transform: uppercase;
   width: 100px;
}
.letterContainer {
   margin-bottom: 1.2em;
}
.letterContainer form {
   align-items: center;
   display: flex;
   justify-content: center;
}
.letterContainer input {
   background: #75c2eb;
   font-size: 2em;
   height: 50px;
   text-align: center;
   margin-right: 1em;
   width: 50px;
}